body {
  background: #ece4d8;
  font: normal normal 15px/1.5 Georgia, Palatino,” Palatino Linotype”, Times, “Times New Roman”, serif;
  color: #544943;
  -webkit-font-smoothing: antialiased;
}

a, a:hover {
  color: #417090;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
}

p {
  margin: .7em 0;
}

strong {
  font-weight: bold;
}

img {
  -webkit-box-shadow: 0px 2px 0px #bdb6ad;
  -moz-box-shadow: 0px 2px 0px #bdb6ad;
  box-shadow: 0px 2px 0px #bdb6ad;
  border: 2px solid #fff6e9;
  max-width: 502px;
}
header h1 {
  background-color: #7c334f;
  font-size: 2.5em;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #ece4d8;
  text-align: center;
  line-height:1;
  padding: 14px 20px 0;
}

header h2 {
  background-color: #7c334f;
  font: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
  color: #e69b95;
  padding-bottom: 14px;
  margin-top: -3px;
  text-align: center;
}
header span.ribbon-inner {
  position: absolute;
  display: block;
  background-color: #cd596b;
  border: 4px solid #7c334f;
  padding: 2px;
  z-index: 1;
  width:100%;
  top:60px;
}
menu{position:absolute};
mainadv{};



