body{background-color:black}
header span.ribbon-inner {
  position: absolute;
  display: block;
  background-color: #cd596b;
  border: 4px solid #7c334f;
  padding: 2px;
  z-index: 1;
  width:100%;
  top:60px;
}
menu{position:absolute};
mainadv{};

